body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F0F0F1;
  font-family: 'Roboto', sans-serif;
}
.form-check{
  margin-bottom: 10px;
}

.form-check-label{
  font-weight: 200;
  font-size: 15px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: black;
  background-color: transparent;
  border-bottom: 3px solid #4B70D6;
}

.nav-tabs .nav-link{
  border: none;
}

.nav-link{
  color: #9A9A9A;
}

.paginationBttns {
  width: 30%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a{
  padding: 10px;
  margin: 8px;
  border-radius:5px;
  color: #9A9A9A;
  cursor: pointer;
  text-decoration: none;
}

.pagintionActive li a{
  display: none;
}